.mennu-mobile__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: none;
}

.menu-mobile__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    z-index: 9999;
    border: 1px solid #fff;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.35s ease-in-out;
    overflow-y: scroll;

}

.menu-mobile__logo {
     background-color: #2f2f2f;
    width: 100%;
    height: 125px;
    text-align: center;
    padding-top: 50px;
    border-bottom: 2px solid #fff;
}

.menu-mobile__list {
    position: relative;
}

.menu-mobile__list ul {
    list-style: none;
}

.menu-mobile__list ul li {
    margin-top: 10px;
    padding-top: 10px;
}

.menu-mobile__list ul li a {
    text-decoration: none;
    color: #1890ff;
    font-weight: 500;
}

.menu-mobile__list ul li i {
    position: absolute;
    color: #fff;
    right: 15px;
}

.menu-mobile__list ul li .fa-cart-plus {
    left: 85px;
    top: 214px;
    right: 0;
}


.menu-mobile__list ul li:hover i {
    cursor: pointer;
}


.menu-mobile__list ul li:hover a {
    cursor: pointer;
}

.menu-mobile__toggle i {
    position: absolute;
    top: 10px;
    z-index: 1;
    font-size: 30px;
    color: #fff;
    left: 10px;
}

.menu-mobile__search {
    position: absolute;
    top: 10px;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    right: 10px;
}

.menu-mobile__search input {
    border: 1px solid #fff;
    padding: 14px 40px 11px 15px;
    border-radius: 20px;
    height: 30px;
    background: transparent;
    color: #fff;
    padding-bottom: 15px;
    outline: none;
    width: 220px;
}

.menu-mobile__search .search-icon a i {
    top: 6px
}

.menu-mobile__top {
    display: none;
}

.menu-mobile__title .anticon {
    position: absolute;
    right: 15px;
    transition: all 0.35s ease-in-out;

}

.menu-mobile__list .menu-toggle {
    display: none;
    transition: all 0.35s ease-in-out;
}


@media only screen and (max-width: 769px) {
    .menu-mobile .mennu-mobile__bg {
        display: block;
        transition: all 0.35s ease-in-out;
    }

   .menu-mobile .menu-mobile__wrap {
        visibility: visible;
        transform: translateX(0);
    }

    .menu-mobile__top {
        display: block;
    }

    
}

