.wood-products {
    margin-top: 100px;
}

.wood-product__header {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.wood-product__header h2 {
    font-weight: bold;
}

.product-slide__text {
    display: flex;
}

.product-slide__text .product-slide__price {
    font-weight: 700;
    font-size: 16px;
    color: #c19876;
    margin-bottom: 5px;
}

.product-slide__text .product-slide__sale {
    font-weight: 500;
    font-size: 16px;
    color: #5a5454;
    margin-bottom: 5px;
    text-decoration: line-through;
    margin-right: 10px;
}

.wood-product__header h2:before {
    position: absolute;
    content: "";
    background: #000;
    height: 2px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}

.wood-product__pill {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.wood-product__pill h5 {
    border-right: 1px solid #5a5454;
    margin-right: 15px;
    padding-right: 10px;
    transition: all 0.35s ease-in-out;
}

.wood-product__pill {
    list-style: none;
}

.wood-product__pill li a {
    border-right: 2px solid #5a5454;
    margin-right: 10px;
    padding-right: 10px;
    cursor: pointer;
    display: block;
    font-weight: 500;
    color: #5a5454;
}

.wood-product__pill li:hover > a {
    transition: all 0.35s ease-in-out;
    color: #ffb900;
}

.wood-product__content-img {
    position: relative;
}

.wood-product__content-img:hover img {
    opacity: 0.5;
}

.wood-product__content-img:hover .wood-product__content-icons ul li > i {
    display: block;
}

.wood-product__content-img img {
    width: 250px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
}

.product-slide__name:hover h4 {
    transition: all 0.35s ease-in-out;
    color: #ffb900;
    cursor: pointer;
}

.wood-product__content-icons ul {
    list-style: none;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 17px;
    left: 35px;
}

.wood-product__content-icons ul li > i {
    font-size: 25px;
    margin-right: 10px;
    color: #c19876;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #fff;
    text-align: center;
    padding-top: 5px;
    display: none;
}

.wood-product__content-icons ul li:hover i {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    color: #fff;
    background-color: #5a5454;
}

.products-more {
    text-align: end;
}

.products-more span a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #5a5454;
    margin-right: 10px;
}

.products-more span:hover a {
    color: #ffb900;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}

.product-slide__ratting .fa-star {
    color: #ffa000;
    margin-bottom: 20px;
}

.product-slide__ratting .fa-star-o {
    color: #ffa000;
}

.ant-tabs-nav-wrap {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

@media only screen and (max-width: 1025px) {
 .wood-product__content-items .col-sm-3 {
    width: 33%;
 }
}

@media only screen and (max-width: 769px) {
    .wood-product__content-items .col-sm-3 {
       width: 33%;
    }
    .wood-product__content-img img {
        width: 200px;
        height: 250px;
    }
}

@media only screen and (max-width: 426px) {

    .wood-product__content-items .col-sm-3 {
        width: 100%;
     }
     .wood-product__content-img img {
         width: 200px;
         height: 250px;
     }
     
    .wood-product__pill h5 {
        font-size: 11px;
    }

    .wood-product__content-items {
        display: flex;
        justify-content: center;
    }

    .wood-product__pill .ant-tabs-nav {
        display: none;
    }

    .wood-product__header {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 320px) {
    .wood-product__header {
        margin-left: 40px;
    }

    .wood-product__header h2 {
        font-size: 25px;
    }
}




