.wood-payment .s-inner {
    background-color: #5a5454;
    margin-top: 0;
    padding: 10px;
}

.cart-info {
    margin-bottom: 100px;
    width: 800px;
}

.cart-info .cart-info__header  {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}